<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auto_Kindle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Auto_Kindle.Properties.Settings>
            <setting name="mobi2mobiAppPath" serializeAs="String">
                <value>C:\Users\gmanrodt\Desktop\mobi\C#\app\mobi2mobi.exe</value>
            </setting>
            <setting name="clitAppPath" serializeAs="String">
                <value>C:\Users\gmanrodt\Desktop\mobi\C#\app\clit.exe</value>
            </setting>
            <setting name="pdbAppPath" serializeAs="String">
                <value>C:\Users\gmanrodt\Desktop\mobi\C#\appabcpalm.exe</value>
            </setting>
            <setting name="chmAppPath" serializeAs="String">
                <value>C:\Users\gmanrodt\Desktop\mobi\C#\app\chmdecoder.exe</value>
            </setting>
            <setting name="pdfAppPath" serializeAs="String">
                <value>C:\Users\gmanrodt\Desktop\mobi\C#\app\pdftohtml.exe</value>
            </setting>
            <setting name="mobi2mobiAppArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="clitAppArgs" serializeAs="String">
                <value>-d</value>
            </setting>
            <setting name="pdbAppArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="chmAppArgs" serializeAs="String">
                <value>-menu</value>
            </setting>
            <setting name="pdfAppArgs" serializeAs="String">
                <value>-noframes -c</value>
            </setting>
            <setting name="TempPath" serializeAs="String">
                <value>c:\kindle\temp</value>
            </setting>
            <setting name="EBookPath" serializeAs="String">
                <value>c:\kindle\Fiction</value>
            </setting>
            <setting name="MobigenPath" serializeAs="String">
                <value>C:\Users\gmanrodt\Desktop\mobi\C#\app\mobigen.exe</value>
            </setting>
            <setting name="DefaultOutPath" serializeAs="String">
                <value>c:\kindle\converted</value>
            </setting>
        </Auto_Kindle.Properties.Settings>
    </userSettings>
</configuration>